.dialogs{
    display:grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
padding: 10px;
}

.dialog {
color:white;
}

.dialog img {
    width: 50px;
}

.dialog a {
    margin: 10px;
    text-decoration: none;
}

.messagesBlock{
    color:white;
    padding-left: 110px;

}

.message {
    color:white;
    margin:40px;
}