.nav {
    grid-area: n;
    background-color: rgb(27, 163, 218);
    padding: 15px;
    }
    
    .item a{
        color: white;
        text-decoration: none;
    }
    .nav div a:hover {
        color: rgb(5, 5, 5);
    }

    .nav div {
        margin-bottom: 10px;
    }

    .item a.activeLink {
        color:green;
    }

